@charset "utf-8";
/* CSS Document */
*{
	margin:auto;
}
.khung{
	width:960px;
	height:200px;
	border: 5px solid #FF0004;
}
nav a{
	padding:10px;
	text-decoration: none;
	color:black;
	font-weight: bold;
}
nav {
	padding-top:10px;
	float:left;
}
.anh{
	width:960px;
}
.phai{
	float:right;
	padding-top:10px;
}